.bg{
        padding-top: 54px;
	background-color:#5dbd85;
      }
      @media (min-width: 992px) {
        container {
          padding-top: 56px;
        }
      }

	.txt1{
	font-size:14px;}

	.lead{color:#fff;}
	.bg1{background-color:#5dbd85;
	}
	.btn{
  	//height:40px;
  	width:60px;
  	background-color: #5dbd85;
  	color: white;
	font-size:10px !important;
  	border: 2px solid white;
    	}
	.btn:hover{
    	background-color: white;
    	color:#5dbd85;
	}
	.img-circle {
    	border-radius: 50%;
	}
	.bg2{
	height:80px;
	width:220px;
	background-color:#00A862;}
	.curv{
	margin-left:-5px;
        padding: 10px;
        border-top-left-radius: 3em;
        border-bottom-left-radius: 3em;}
	.curv2{
        padding: 10px;
	margin-right:-5px;
        border-top-right-radius: 3em;
        border-bottom-right-radius: 3em;}
