<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<div class="bg">
  <div class="col-lg-12 pt-2" >
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
<i class="fa fa-angle-left fa-2x" style="color:white;" aria-hidden="true"></i>  </div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
</div>
</div>
  <div class="col-lg-12" style="height:80px;" ></div>
  <div class="col-lg-12 text-center" >
  <h2>What name do you go by?</h2>
  <p class="pl-4 pr-4">When another community member sees you, how should they say hi?</p>
  <mat-form-field class="example-full-width" hintLabel="Max 10 characters">
        <div class="input-group">
          <input matInput #input maxlength="10" placeholder="Enter your name"><i class="fa fa-user" aria-hidden="true"></i>
        </div>
          </mat-form-field>
</div>

<div class="col-lg-12 col-md-12 col-sm-12  col-xs-12 text-center pt-4">
<button class="btn-lg bb1"mat-raised-button>Last Step</button>
</div>

</div>
