<link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <div class="bg col-lg-12 text-center d">
  <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
    <a href="#freecarpooling" > <i class="fa fa-angle-left fa-2x mb-0 pt-1" style="color:white;"></i></a>
  </div>
  <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
      <p class="mt-1 mb-0 " style="font-size:18px;color:#F8F8F8;">Free Carpooling</p>
  </div>
</div>
  <div class="col-lg-12 text-center">
    <img src="/assets/image/coin2.jpg" height="75px" width="100px"/>
<h4>Refer and get 2 Carpool Credits!</h4>
<p>Share your code with friends or co-workers and give them 2 Carpool Credits. You 'll also get 2 Carpool Credits after they take their first trip!</p>
</div>
<div class="col-lg-12 text-center">
  <h4>Share your code :</h4>
  <h4><b>NUMAN04</b></h4>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 d">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right">
<button mat-raised-button  class="btn-lg pull-right bg" style="width:140px;">
  <a href="#" style="color:white;text-decoration:none;"><i class="fa fa-commenting-o pr-2" aria-hidden="true"></i>
Text</a>
</button>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
<button mat-raised-button  class="btn-lg pull-left bg1" style="width:140px;">
  <a href="#" style="color:white;text-decoration:none;" ><i class="fa fa-envelope-o pr-2" aria-hidden="true"></i>
Email</a>
</button>
</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 text-center pt-2">
<a href="" style="color:#00D6CC;text-decoration:none;">More ways to share</a>
</div>
