<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<div class="container bg">
  <div class="row">
    <div class="col-lg-12 text-center" style="display:flex;border-bottom: 1px solid rgba(204, 204, 204, 0.26);">
      <i class="fa fa-angle-left fa-3x pull-left" aria-hidden="true"></i>
      <p class="pl-3 pt-2" style="font-size:18px"><strong>WORK</strong></p>
      <p class="pl-3" style="padding-top:0.7rem"><strong> 18880 Homestead Rd,Cupertino</strong></p>
    </div>
    <div class="col-lg-12" style="border-bottom: 1px solid rgba(204, 204, 204, 0.26);">
      <p class="pt-3 mb-0" style="font-size:22px"><strong>18880 Homestead Rd</strong></p>
      <p class="mb-3">Cupertino, CA</p>
    </div>
    <div class="col-lg-12" style="border-bottom: 1px solid rgba(204, 204, 204, 0.26);">
        <p class="pt-3 mb-0" style="font-size:22px"><strong>18880 East Homestead Rd</strong></p>
      <p class="mb-3">Sunnyvale, CA</p>
    </div>
    <div class="col-lg-12" style="border-bottom: 1px solid rgba(204, 204, 204, 0.26);">
        <p class="pt-3 mb-0" style="font-size:22px"><strong>18880 West Homestead Rd</strong></p>
      <p class="mb-3">Sunnyvale, CA</p>
    </div>
    <div class="col-lg-12" style="border-bottom: 1px solid rgba(204, 204, 204, 0.26);">
      <p class="pt-3 mb-0" style="font-size:22px"><strong>18880 U.S. 50</strong></p>
      <p class="mb-3">Twinbridges,USA</p>
    </div>
    <div class="col-lg-12" style="border-bottom: 1px solid rgba(204, 204, 204, 0.26);">
      <p class="pt-3 mb-0" style="font-size:22px"><strong>18880 California 88</strong></p>
      <p class="mb-3">Pinegrove, CA</p>
    </div>
    <div>
    </div>
