<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<div class="col-lg-12 bg pt-2 d" >
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mt-1">
  <a href="#" style="color:white;text-decoration:none;">Cancel</a>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ml-5 text-center">
  <h3 style="color:white;text-decoration:none;">Notifications</h3>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mt-1 pl-4 text-right">
  <a href="#" style="color:white;text-decoration:none;">Save</a>
</div>
</div>
<div style="background-color:#ccc;">
  <div class="col-lg-12  pt-2 text-center">
  <i class="fa fa-commenting-o fa-3x " style="color:#5dbd85;" aria-hidden="true"></i>
</div>
<div class="col-lg-12  pt-2">
  <p class="mb-0">Reminder Notifications</p>
  <p class="mb-1">Let Swish reminds you to schedule so you never miss a chance to carpool</p>
</div>
</div>
<div class="col-lg-12 mt-2 d">
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mt-1 pl-0">
  <p>90 minutes before the deadline</p>
</div>

  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mt-1">
  <mat-slide-toggle></mat-slide-toggle>
</div>
</div>
<div style="border-bottom:2px solid #ccc;opacity:0.5;"></div>
<div class="col-lg-12  pt-2  d">
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mt-1 pl-0">
  <p>15 minutes before the deadline</p>
</div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mt-1">
  <mat-slide-toggle></mat-slide-toggle>
</div>
</div>
<div style="border-bottom:2px solid #ccc;opacity:0.5;"></div>
<div class="col-lg-12  pt-2  d">
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9  mt-1 pl-0">
  <p>Daily Schedule</p>
</div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 pr-0  d">
<p>All on</p>
<a href="#" style="color:#ccc;"><i class="fa fa-angle-right pl-2 fa-2x" style="margin-top: -5px;" aria-hidden="true"></i></a>
</div>
</div>
<div style="background-color:#ccc;">
<div class="col-lg-12  pt-2">
  <p class="mb-0">Text Messages</p>
  <p class="mb-0">Swish's Scheduling suggestions tells you when there is a potential carpool for you.</p>
  <a href="#" style="color:#00D6CC;text-decoration:none;font-size:18px;" class="mb-1">What does it looks like?</a>
</div>
</div>
<div class="col-lg-12  pt-2  d">
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mt-1 pl-0">
  <p>Send me trip scheduling suggestions</p>
</div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mt-1">
  <mat-slide-toggle></mat-slide-toggle>
</div>
</div>
<div style="background-color:#ccc;" class="pb-4"></div>
<div class="col-lg-12  pt-2  d">
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9  mt-1 pl-0">
  <p>Out of office</p>
</div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 pr-0 mt-1 d">
<p>Off</p>
<a href="#"><i class="fa fa-angle-right pl-2 fa-2x" style="margin-top: -5px;color:#ccc;opacity:0.5;" aria-hidden="true"></i></a>
</div>
</div>
