<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">

    <div style="margin-left: -20px;background-color:#5dbd85;margin-right: -20px;height:35px;margin-bottom:5px">
      <img src="/assets/image/logo.png" height="35px" style="padding-left:30px;"/>
</div>

      <div style="display:flex;margin:10px;font-size:20px;">
      <i class="fa fa-user-circle-o" style="color:#5CB85C;padding-top:3px;" aria-hidden="true"></i>
<a href="" style="opacity: 0.7;color: black;padding-left:7px;">User Name</a>
    </div>
    <div style="opacity:0.5;border-bottom:1px solid #ccc;"></div>
    <div style="display:flex;margin:10px;font-size:20px;">
    <i class="fa fa-address-card-o" style="color:#5CB85C;padding-top:3px;" aria-hidden="true"></i>
<a href="" style="opacity: 0.7;color: black;padding-left:5px;">Address</a>
  </div>
  <div style="opacity:0.5;border-bottom:1px solid #ccc;"></div>
  <div style="margin:10px;margin-bottom:0px;font-size:20px;">
  <i class="fa fa-money" style="color:#5CB85C;padding-top:3px;" aria-hidden="true"></i>
<a href="" style="opacity: 0.7;color: black;padding-left:1px;">Pricing & Payments</a>
</div>
<div>
<a href="" style="opacity: 0.7;color: black;font-size:18px;padding-left:40px;color:#ccc;margin-top: -15px;">Trip activity & accounts</a>
</div>
<div style="opacity:0.5;border-bottom:1px solid #ccc;"></div>

<div style="display:flex;margin:10px;font-size:20px;">
<img src="/assets/image/coin.jpg" style="margin-top: 5px;" height="20px"/>
<a href="" style="opacity: 0.7;color: black;padding-left:9px;">Free carpooling</a>
</div>
<div style="opacity:0.5;border-bottom:1px solid #ccc;"></div>

<div style="display:flex;margin:10px;font-size:20px;">
  <i class="fa fa-commenting-o" style="color:#5CB85C;padding-top: 5px;" aria-hidden="true"></i>
<a href="" style="opacity: 0.7;color: black;padding-left:7px;">Notifications</a>
</div>
<div style="opacity:0.5;border-bottom:1px solid #ccc;"></div>

<div style="display:flex;margin:10px;font-size:22px;">
  <i class="fa fa-cog" style="color:#5CB85C;padding-top: 5px;" aria-hidden="true"></i>
<a href="#" style="opacity: 0.7;color: black;padding-left:10px;">Driver setup</a>
</div>
<div style="opacity:0.5;border-bottom:1px solid #ccc;"></div>
<div style="display:flex;margin:10px;font-size:20px;">
  <i class="fa fa-question-circle" style="color:#5CB85C;padding-top: 5px;" aria-hidden="true"></i>
<a href="#" style="opacity: 0.7;color: black;padding-left:10px;">SWISH EDU</a>
</div>
<div style="opacity:0.5;border-bottom:1px solid #ccc;"></div>
<div style="display:flex;margin:10px;font-size:20px;">
<a href="#" style="opacity: 0.7;color: black;padding-left:10px;">SWISH care <span style="font-size:18px;padding-left:px;color:#ccc;margin-top: -15px;">xxx.xx.xx-appstore</span></a>
</div>
<div style="opacity:0.5;border-bottom:1px solid #ccc;"></div>
<div style="display:flex;margin:10px;font-size:20px;">
<a href="#" style="opacity: 0.7;color: black;padding-left:10px;">Give us feedback</a>
</div>


  </mat-sidenav>


    <div  class="row row1">
<div class="col-md-12 col-sm-12 col-xs-12">
  <nav class=" navbar navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class=""style="float: right" (click)="sidenav.open()">
      Open sidenav3
    </a>
    <a class="navbar-brand" routerLink="/">SWISH</a>

    <!-- Show this for logged out users -->
    <ul *showAuthed="false"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/login"
          routerLinkActive="active">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/register"
          routerLinkActive="active">
          Sign up
        </a>
      </li>

    </ul>


  </div>
</nav>


</div>
    </div>
    <div  class="row row2">

<div class="col-md-12 col-sm-12 col-xs-12">
  <!--layout-header></layout-header-->
  <router-outlet></router-outlet>
  <!--layout-footer></layout-footer-->
</div>
    </div>




</mat-sidenav-container>
