<link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <div class="bg col-lg-12 text-center d">
  <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
    <a href="#page2" > <i class="fa fa-angle-left fa-2x mb-0 pt-1 i1"></i></a>
  </div>
  <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
      <p class="mt-1 mb-0 " style="font-size:18px;color:#F8F8F8;">Addresses</p>
  </div>

</div>
<div class="bg1">
<div class="col-lg-12">
  <div class="text-center">
  <img src="/assets/image/addresslogo.jpg" class="img-responsive float-center" height="75" width="75"/>
</div>
  <p class="pt-1 mb-1" style="font-size:14px">Your primary commute</p>

</div>
<div class="col-lg-12 text-center bg2 d plr" style="height: 34px;">
  <div class="col-md-5 col-sm-5 col-xs-5 pt-2 d">
  <i class="fa fa-home fa-2x" style="color:#5dbd85" aria-hidden="true"></i>
<h4 class="pl-2 pt-1">Home</h4>
</div>

<div class="col-md-2 col-sm-2 col-xs-2 plr">
  <img src="/assets/image/bidirectionalarrow.png" class="img-responsive float-center pt-2" height="45" width="20"/>

</div>
<div class="col-md-5 col-sm-5 col-xs-5 pt-2 d plr">
  <i class="fa fa-briefcase fa-2x" style="color:#5dbd85" aria-hidden="true"></i>
  <h4 class="pl-2 pt-1">Work</h4>
</div>

</div>

<div class="col-lg-12 text-center bg2 d plr">

<div class="col-md-5 col-sm-5 col-xs-5 pt-1">
  <p class="text-left h mb-0">936 azure street</p>
  <p class="text-left mb-0">Sunnyvale</p>
</div>
<div class="col-md-2 col-sm-2 col-xs-2 plr">

</div>

<div class="col-md-5 col-sm-5 col-xs-5 pt-1 plr">
  <p class="text-left h mb-0">18880 Homestead road</p>
  <p class="text-left mb-0">Cupertino</p>
</div>
</div>

<div class="bb"></div>
<div class="col-lg-12 bg1  d" >
  <p class="margin">Saved Addresses</p>
</div>
<div class="bb"></div>
<div class="col-lg-12 text-center bg2 d">
  <a href="#"><i class="fa fa-plus pt-2" aria-hidden="true"></i></a>
<a href="#" class="pl-1 margin">add addresses</a>
</div>
<div class="bb"></div>
<div class="col-lg-12 text-center bg2 d">
<div class="col-md-2 col-sm-2 col-xs-2 pt-4 ">
<i class="fa fa-home fa-2x" style="color:#5dbd85" aria-hidden="true"></i>
</div>
<div class="col-md-8 col-sm-8 col-xs-8">
  <h4 class="text-left mb-0">Home</h4>
  <p class="text-left h mb-0">936 azure street</p>
  <p class="text-left  mb-0">Sunnyvale</p>
</div>
<div class="col-md-2 col-sm-2 col-xs-2 ">
  <i class="fa fa-pencil fa-2x pt-4" style="opacity:0.3" aria-hidden="true"></i>
</div>
</div>
<div class="bb"></div>
<div class="col-lg-12 text-center bg2 d">
<div class="col-md-2 col-sm-2 col-xs-2 pt-4 ">
<i class="fa fa-briefcase fa-2x" style="color:#5dbd85" aria-hidden="true"></i>
</div>
<div class="col-md-8 col-sm-8 col-xs-8">
  <h4 class="text-left mb-0">Work</h4>
  <p class="text-left h mb-0">18880 Homestead road</p>
  <p class="text-left  mb-0">Cupertino</p>
</div>
<div class="col-md-2 col-sm-2 col-xs-2  ">
  <i class="fa fa-pencil fa-2x pt-4" style="opacity:0.3" aria-hidden="true"></i>
</div>
</div>
<div class="col-lg-12 bg1 pb-5">

</div>
<div class="bb"></div>


</div>
