<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<div class="bg pt-2">
    <div class="col-lg-12 text-center" style="display:flex;">
      <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
          <i class="fa fa-user-circle" style="background-color:#5dbd85;font-size:larger;padding-top:0.9rem;color:#F8F8F8;"></i>
      </div>
      <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
          <p class="mt-0 pt-2" style="font-size:18px;color:#F8F8F8;">Welcome Numan</p>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
          <div class="pl-3" style="display:flex; color:#F8F8F8;"><i class="fa fa-usd pt-1"></i><span class="pl-1 ">0</span></div>
      <div style="color:#F8F8F8;display:flex;"><span>Balance</span></div>
      </div>
    </div>
    <div class="col-lg-12 mb-1" style="border-bottom: 1px solid rgba(204, 204, 204, 0.68) ;"></div>
    <div class="col-lg-12 text-center">
      <p class="pt-1 mb-0" style="font-size:18px;color:#F8F8F8;">Monday 11/6</p>
        </div>
        <div class="col-lg-12 col-sm-12" style="height:45px;display:flex;background-color:#f8f8f8;border-left:15px solid #5dbd85;border-right:15px solid #5dbd85;">
          <div class="col-lg-6 col-sm-6 col-xs-4 pl-0">
            <p class="pt-1" style="font-size:20px;">Morning</p>
          </div>
          <div class="col-lg-6 col-sm-8 col-xs-8 pr-0">
            <p class="mr-0 pt-2 text-right " style="font-size:12px;">Scheduling closed</p>
          </div>
        </div>
        <div class="col-lg-12  mb-1"></div>
        <div class="col-lg-12 col-sm-12" style="height:45px;display:flex;background-color:#f8f8f8;border-left:15px solid #5dbd85;border-right:15px solid #5dbd85;">
          <div class="col-lg-6 col-sm-6 col-xs-4 pl-0">
            <p class="pt-1" style="font-size:20px;">Evening</p>
          </div>
          <div class="col-lg-6 col-sm-8 col-xs-8 pr-0">
            <p class="mr-0 pt-2 text-right" style="font-size:12px;">Scheduled by 3:30pm tommorow</p>
          </div>
        </div>
        <div class="col-lg-12 mb-1 mt-2" style="border-bottom: 1px solid rgba(204, 204, 204, 0.68) ;"></div>
        <div class="col-lg-12 text-center">
          <p class="mb-0" style="font-size:18px;color:#F8F8F8;">Tuesday 12/6</p>
            </div>
            <div class="col-lg-12 col-sm-12" style="height:45px;display:flex;background-color:#f8f8f8;border-left:15px solid #5dbd85;border-right:15px solid #5dbd85;">
              <div class="col-lg-6 col-sm-6 col-xs-4 pl-0">
                <p class="pt-1" style="font-size:20px;">Morning</p>
              </div>
              <div class="col-lg-6 col-sm-8 col-xs-8 pr-0">
                <p class="mr-0 pt-2 text-right " style="font-size:12px;">Scheduling closed</p>
              </div>
            </div>
            <div class="col-lg-12 mb-1"></div>
            <div class="col-lg-12 col-sm-12" style="height:45px;display:flex;background-color:#f8f8f8;border-left:15px solid #5dbd85;border-right:15px solid #5dbd85;">
              <div class="col-lg-6 col-sm-6 col-xs-4 pl-0">
                <p class="pt-1" style="font-size:20px;">Evening</p>
              </div>
              <div class="col-lg-6 col-sm-8 col-xs-8 pr-0">
                <p class="mr-0 pt-2 text-right" style="font-size:12px;">Scheduled by 3:30pm tommorow</p>
              </div>
            </div>
            <div class="col-lg-12 mb-1 mt-2" style="border-bottom: 1px solid rgba(204, 204, 204, 0.68) ;"></div>
            <div class="col-lg-12 text-center">
              <p class="mb-0" style="font-size:18px;color:#F8F8F8;">Wednesday 13/6</p>
                </div>
                <div class="col-lg-12 col-sm-12" style="height:45px;display:flex;background-color:#f8f8f8;border-left:15px solid #5dbd85;border-right:15px solid #5dbd85;">
                  <div class="col-lg-6 col-sm-6 col-xs-4 pl-0">
                    <p class="pt-1" style="font-size:20px;">Morning</p>
                  </div>
                  <div class="col-lg-6 col-sm-8 col-xs-8 pr-0">
                    <p class="mr-0 pt-2 text-right " style="font-size:12px;">Scheduling closed</p>
                  </div>
                </div>
                <div class="col-lg-12 mb-1"></div>
                <div class="col-lg-12 col-sm-12" style="height:45px;display:flex;background-color:#f8f8f8;border-left:15px solid #5dbd85;border-right:15px solid #5dbd85;">
                  <div class="col-lg-6 col-sm-6 col-xs-4 pl-0">
                    <p class="pt-1" style="font-size:20px;">Evening</p>
                  </div>
                  <div class="col-lg-6 col-sm-8 col-xs-8 pr-0">
                    <p class="mr-0 pt-2 text-right" style="font-size:12px;">Scheduled by 3:30pm tommorow</p>
                  </div>
                </div>
                  <div class="col-lg-12 mt-2 mb-1"></div>
                  <div class="col-lg-12 pt-2 pl-2 ml-" style="display:flex;background-color:#f8f8f8;">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">  <img src="/assets/image/img5.png" height="35px"/></div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">  <p class="pl-1 pt-1 " style="font-size:18px;">Welcome! Have questions</p></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></div>
                  </div>
                  <div class="col-lg-12 pt-1 ml-2" style="display:flex;height:48px;">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                      <i class="fa fa-car pl-1" style="color:#f8f8f8" aria-hidden="true"></i>
                      <p style="color:#f8f8f8;font-size:12px;">Trips</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                      <i class="fa fa-users pl-3" style="color:#f8f8f8" aria-hidden="true"></i>
                      <p style="color:#f8f8f8;font-size:12px;">Community</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ml-2" style="padding-left: 25px;">
                      <i class="fa fa-address-card-o pl-2" style="color:#f8f8f8" aria-hidden="true"></i>
                      <p style="color:#f8f8f8;font-size:12px;"> Stream</p>
                    </div>
                  </div>
</div>
