/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.navbar-brand{
  color: #fff !important;
}
.row1{height:10vh;overflow:hidden;}
  .row2{height:88vh;overflow:hidden;}
.home-page>.row{
  height:100vh;background-color: green;
}
