<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<div class="bg">
  <div class="col-lg-12 pt-2" >
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
<i class="fa fa-angle-left fa-2x" style="color:white;" aria-hidden="true"></i>  </div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
</div>
</div>
  <div class="col-lg-12" style="height:80px;" ></div>
  <div class="col-lg-12 text-center" >
  <h2>Mobile phone number</h2>
  <p class="pl-4 pr-4">We 'll use you phone number to text you your carpool details</p>
  <form class="example-form">

  <mat-form-field class="example-full-width">
    <span matPrefix>+1 &nbsp;</span>
    <input type="tel" matInput placeholder="Telephone">
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>

</form>
</div>

<div class="col-lg-12 col-md-12 col-sm-12  col-xs-12 text-center pt-4">
<button class="btn-lg bb1"mat-raised-button>Finish</button>
</div>

</div>
