<link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <div class="bg col-lg-12 text-center" style="display:flex;">
  <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
      <i class="fa fa-angle-left fa-2x mb-0 pt-1" style="background-color:#5dbd85;font-size:larger;color:#F8F8F8;"></i>
  </div>
  <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
      <p class="mt-0 mb-0 " style="font-size:18px;color:#F8F8F8;">Profile</p>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
      <div class="pl-3" ><button class="btn primary-btn pt-0 pb-0" style="background-color:#5dbd85;color:#f8f8f8;">save</button></div>
</div>
</div>
<div class="bg1">
<div class="col-lg-12 text-center pt-2 pb-2">
  <img src="/assets/image/IMG.jpg" class="img-circle" width="55px" height="45px"/>
</div>
<div class="col-lg-12 text-center" style="display:flex;">
  <p class="pr-5">FIRST NAME</p>
  <p class="pl-5">NUMAN</p>
</div>
<div class="bb"></div>
<div class="col-lg-12 text-center" style="display:flex;">
  <p class="pr-5">LAST NAME</p>
  <p class="pl-5">MUHAMMAD</p>
</div>
<div class="bb"></div>
<div class="col-lg-12 bg1 pt-2" style="display:flex;">
  <p class="pl-1">Contact information</p>
</div>
<div class="bb"></div>
<div class="col-lg-12 text-center" style="display:flex;">
    <p class="pr-5">Mobile Phone</p>
    <p class="pl-5">(714)515-0502)</p>
</div>
<div class="bb"></div>
<div class="col-lg-12 " style="display:flex;">
    <p class="pr-5">Contact email</p>
    <p class="">expert.tutor3786@gmail.com</p>
    <i class="fa fa-angle-right pt-1 pl-1"></i>
</div>
<div class="bb"></div>
<div class="bb"></div>
<div class="col-lg-12 bg1 pt-2" style="display:flex;">
  <p class="pl-1">Email is used for Swish communication only and not shared with other users.</p>
</div>
<div class="bb"></div>
<div class="col-lg-12 text-center pt-2">
  <a  href="#" class="pl-1" style="color:red">Sign out</a>
</div>
<div class="bb"></div>
<div class="pb-5"></div>

</div>
