<link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <div class="bg col-lg-12 text-center d">
  <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
    <a href="#page1">  <i class="fa fa-angle-left fa-2x mb-0 pt-1 i1"></i></a>
  </div>
  <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
      <p class="mt-1 mb-0 " style="font-size:18px;color:#F8F8F8;">Profile</p>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
      <div class="pl-3" ><button class="btn primary-btn pt-0 pb-0" style="background-color:#5dbd85;color:#f8f8f8;">save</button></div>
</div>
</div>
<div class="bg1">
<div class="col-lg-12 text-center pt-2 pb-2">
  <img src="/assets/image/IMG.jpg" class="img-circle" width="55px" height="45px"/>
</div>
<div class="col-lg-12 text-center bg2 d">
  <p class="pr-5 margin">First Name</p>
  <p class="pl-5 margin">Numan</p>
</div>
<div class="bb"></div>
<div class="col-lg-12 text-center bg2 d">
  <p class="pr-5 margin">Last Name</p>
  <p class="pl-5 margin">Muhammed</p>
</div>
<div class="bb"></div>
<div class="col-lg-12 bg1  d" >
  <p class="margin">Contact information</p>
</div>
<div class="bb"></div>
<div class="col-lg-12 text-center bg2 d">
    <p class="pr-5 margin">Mobile Phone</p>
    <p class="pl-4 margin">(714)515-0502)</p>
</div>
<div class="bb"></div>
<div class="col-lg-12 bg2 d pr-0">
    <p class="margin">Contact email</p>
    <p class="margin pl">expert.tutor@gmail.com</p>
    <i class="fa fa-angle-right pl-1 pt-1 margin"></i>
</div>

<div class="bb"></div>
<div class="col-lg-12 bg1">
  <p class="pl-1 margin">Email is used for Swish communication only and not shared with other users.</p>
  <a href="#" class="pl-1">another email</a>
</div>
<div class="bb"></div>
<div class="col-lg-12 text-center bg2 pt-1 pb-1">
  <a  href="#" class="pl-1" style="color:red">Sign out</a>
</div>
<div class="bb"></div>
<div class="pb-5"></div>

</div>
