.list-unstyled{
	color:#fff;
	font-size:30px;}

	.lead{color:#fff;}
	.bg{background-color:#5CB85C !important;
	}
	.btn{
  	height:40px;
  	width:160px;
  	background-color: #5CB85C;
  	color: white;
	font-size:10px !important;
  	border: 2px solid white !important;
    	}
	.btn:hover{
    	background-color: white;
    	color:#5dbd85;
	}
